* {
  margin: 0;
  padding: 0;
}
/* 隐藏滚动条，但内容可滚动（适配 Chrome、Safari、Opera 等webkit内核浏览器 ） */
.container {
  height: 100vh;
  overflow-y: auto; /* 内容溢出时显示滚动条，用于触发滚动功能 */
  scrollbar-width: none; /* Firefox 专属属性，隐藏滚动条 */
  -ms-overflow-style: none; /* IE 和 Edge 专属，隐藏滚动条 */
}
/* Webkit 内核浏览器（Chrome、Safari 等）隐藏滚动条的伪元素设置 */
.container::-webkit-scrollbar {
  display: none;
}
body .van-toast.toast {
  background: rgba(0, 0, 0, 0.7) !important;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
